
.card {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 8, 0.3, 0, 2);
    -fx-cursor: hand;
}

.card:hover {
    -fx-translate-y: -2;
}

.card:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 4, 0.2, 0, 1);
    -fx-translate-y: 1;
}
